#login-form-container {
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;

  h1 {
    text-align: center;
  }

  #login-form {
    width: 100%;

    .input-fields-container {
      background-color: #dfe5ea;
      margin-bottom: 10px;
      padding: 10px;

      label {
        display: block;
        color: #949ea0;
      }

      .input-fields {
        display: block;
        width: 99%;
        margin: 10px auto;
        padding: 10px 0px;
        border: navajowhite;
        outline: navajowhite;
        background-color: #dfe5ea;
        color: #000;
        margin: 5px 0px 0px 0px;
        padding: 0px;
      }
    }

    .submit-button {
      width: 100%;
      border: none;
      text-align: center;
      padding: 10px 0px;
      background-color: #ecbcb3;
      font-weight: 600;
    }
  }
}
