#congratulations {
  position: relative;
  width: 30%;
  background-color: #fff;
  font-family: "Ubuntu", sans-serif;

  h4 {
    text-align: center;
  }

  button {
    display: block;
    width: 90%;
    margin: 10px auto;
    border: none;
    text-align: center;
    color: #fff;
    padding: 10px 0px;
    background-color: #ecbcb3;
    font-weight: 600;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;

    a {
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 300;
      color: #949ea0;
    }
  }
}
