#main-navbar {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  .logo {
    width: 1.1em;
    vertical-align: top;
    margin-right: 0.3em;
  }

  .section-1 {
    width: 20%;

    a {
      font-weight: 600;
    }
  }

  .section-2 {
    width: 80%;
    text-align: right;

    a:not(:last-child) {
      margin-right: 1em;
    }

    a:last-child {
      background-color: #ff9999;
      padding: 0.3em 0.7em;
      border-radius: 1em;
    }
  }
}
