.pink-font {
  color: #ecbcb3;
}

.white-font {
  color: #fff;
}

.gray-font {
  color: #a6a6a6;
}

.ubuntu-font-family {
  font-family: "Ubuntu", sans-serif;
}

.montserrat-font-family {
  font-family: "Montserrat", sans-serif;
}
